.cart {
  width: 95%;
  height: 300px;
  position: absolute;
  margin: 0 auto;
  top: 11%;
  background-color: #fff;
  z-index: 100;
  box-shadow: 4px 4px 3px 3px rgba(0, 0, 0, 0.4);
}

.cart .cartHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 1em auto;
  border-bottom: 1px solid grey;
}

.cartHeader button {
  background-color: inherit;
  border: none;
  color: grey;
  font-size: 20px;
}

.cart .content {
  width: 80%;
  margin: 3em auto;
}

.content .empty {
  text-align: center;
  margin-top: 2em;
}

.cart .checkout {
  width: 200px;
  height: 30px;
  background-color: hsl(26, 100%, 55%);
  border: none;
  color: #fff;
  margin: 2em 0;
  border-radius: 6px;
}

.cart .deleteButton {
  border: none;
  background-color: inherit;
}

.cart .deleteButton img {
  max-width: 100%;
  max-height: 100%;
}

.cart .deleteButton:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}


@media (max-width: 599px) {
  .cart {
    left: 2.5%;
  }
}

@media (min-width: 600px) {
  .cart {
    width: 380px;
    top: 8%;
    right: 1%;
  }
}
