.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header nav {
  display: flex;
  flex-direction: row;
  width: 94%;
  margin: 0.7em auto;
  justify-content: space-between;
}

.header .navigation {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header .cart {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.cartItems {
  width: 29px;
  height: 29px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItems p{
  margin: 0;
  border-radius: 40%;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  width: 20px;
  text-align: center;
  font-size: 12px;
  align-self: flex-end;
  font-weight: bold;
}

.header nav div h1 {
  text-transform: capitalize;
  margin-left: 0.3em;
}

.header nav ul {
  position: absolute;
  background-color: #fff;
  width: 60%;
  height: 100vh;
  z-index: 100;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  list-style-type: none;
  text-transform: capitalize;
  margin: 3em;
}

.header nav ul button {
  list-style-type: none;
  text-transform: capitalize;
  margin: 3em 3em 0 3em;
  border: none;
  background-color: inherit;
}

.menu {
  background-color: inherit;
  border: none;
}

.hide {
  display: none;
}

.avatar {
  width: 30px;
  height: 30px;
  margin-left: 0.7em;
}

.header .cartimg {
  width: 29px;
  height: 29px;
}

.navigation h1:hover,
.header .cartItems:hover, 
.avatar:hover,
.header nav ul li:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}


@media (min-width: 1024px) {
  .hide {
    display: block;
  }

  .header nav ul {
    background-color: #fff;
    width: 30%;
    height: 100px;
    position: static;
    z-index: 100;
    left: 0;
    top: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 2em;
    width: 100%;
  }

  .header nav ul li {
    margin: 0em;
  }

  .header nav ul button,
  .header .menu {
    display: none;
  }

  .avatar {
    width: 55px;
    height: 55px;
    margin-left: 0.7em;
  }

  .cartimg {
    width: 40px;
    height: 40px;
  }

  .header nav .cartItems {
    width: 43px;
    height: 43px;
  }
}
