body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

button { cursor: pointer;}

@media (min-width: 1025px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
  }


}